<ion-view view-title="Friends">
  <ion-content lazy-scroll>
    <ion-list>
      <ion-item ng-repeat="friend in friends" class="item item-thumbnail-left">
          <img image-lazy-src="{{friend.userpic_url}}" image-lazy-loader="spiral" image-lazy-distance-from-bottom-to-load="-100">
          <h2>{{friend.fullname}}</h2>
          <p><i class="ion-thumbsup"></i> Followers: {{friend.followers_count}}</p>
          <p ng-if="friend.city">From: {{friend.city}}</p>        
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="!noMoreFriends" on-infinite="loadMoreFriends()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
